// ???????? COLOR START ???????????????
$whiteColor:#FFFFFF;
$lightGrayColor:#8491A0;
$darkGrayColor:#5B6876;
$blackColor:#000000;
$level1Color:#181823;
$violetColor:#FBE4FF;
$purpleColor:#5221E6;
$greenColor:#3CC74E;
$pinkColor:#E95D90;
$blueColor:#0077B5;
$lightBlueColor:#26A7DE;
$redColor:#C60000;
$lightOrangeColor:#FE6A5C;
$yellowColor:#FF9900;
$oppacityBlackColor:#00000050;
// ???????? COLOR END ???????????????