@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
  max-width: 1440px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}
@media screen and (max-width: 360px) {
  .container {
    max-width: 360px;
    margin: 0px auto;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

h3 {
  font-size: 24px;
  padding-bottom: 16px;
}

h4 {
  font-size: 16px;
}

.myproject_img {
  width: 100%;
}

.myproject_title {
  font-size: 24px;
  color: #FFFFFF;
  padding: 20px 10px;
}

.myproject_desc {
  font-size: 18px;
  color: #8491A0;
  padding: 20px 10px;
}

.header {
  background-color: #000000;
  padding: 15px 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
}
.header .container .header_logo {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .header_logo .header_logo_img_one {
  height: 50px;
}
.header .container .header_navbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.header .container .header_navbar_wrapper a:hover {
  background-color: #C60000;
  transition: all 0.3s ease-in-out;
}
.header .container .header_navbar_wrapper_item1 {
  background-color: #C60000;
  padding: 29px 15px;
}
.header .container .header_navbar_wrapper_item {
  padding: 29px 15px;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px 0;
}

body {
  padding-bottom: 40px;
}

.about_text_desc {
  padding: 20px;
  text-align: justify;
}

.midle {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0px auto;
  padding: 30px 40px;
}
.midle .about .about_text {
  padding: 0 20px;
}
.midle .about img {
  width: 536px;
  height: 444px;
}

.header {
  background-color: #000000;
  padding: 15px 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
}
.header .container .header_logo {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .header_logo .header_logo_img_one {
  height: 50px;
}
@media screen and (max-width: 360px) {
  .header .container .header_logo .header_logo_img_one {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .header .container .header_logo .header_logo_img_two {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .header .container .header_logo {
    background-image: url(./assets/respLogo.png);
    width: 78px;
    height: 24px;
    background-repeat: no-repeat;
  }
}
.header .container .header_navbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.header .container .header_navbar_wrapper a:hover {
  background-color: #C60000;
  transition: all 0.3s ease-in-out;
}
.header .container .header_navbar_wrapper_item1 {
  background-color: #C60000;
  padding: 29px 15px;
}
.header .container .header_navbar_wrapper_item {
  padding: 29px 15px;
}
@media screen and (max-width: 360px) {
  .header .container .header_navbar {
    display: none;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}
.hero .hero_img {
  width: 50%;
}
@media screen and (max-width: 360px) {
  .hero .hero_img .hero_img_one {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .hero .hero_img {
    background-image: url(./assets/respHero.png);
    width: 360px;
    height: 288px;
  }
}
.hero .hero_text {
  width: 50%;
  padding: 189px 41px 276px 124px;
  background-color: #FFFFFF;
}
.hero .hero_text_title {
  font-size: 40px;
  font-weight: bold;
  text-align: start;
  padding: 59px 0;
}
@media screen and (max-width: 360px) {
  .hero .hero_text_title {
    display: none;
  }
}
.hero .hero_text_title span {
  color: #5B6876;
}
@media screen and (max-width: 360px) {
  .hero .hero_text_title span {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .hero .hero_text_desc {
    display: none;
  }
}
.hero .hero_text .hero_text_resp {
  display: none;
}
@media screen and (max-width: 360px) {
  .hero .hero_text .hero_text_resp {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  .hero .hero_text .hero_text_resp h2 {
    padding: 10px 0;
  }
}
.hero .hero_text .hero_text_resp h2 span {
  color: #8491A0;
}
@media screen and (max-width: 360px) {
  .hero .hero_text {
    background-color: #181823;
    width: 360px;
    padding: 10px 20px;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 360px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #181823;
  }
}

.experience {
  background-color: #000000;
}
.experience .container {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}
.experience .container .experience_text h4 {
  color: #8491A0;
  padding: 20px 0 45px 0;
}
.experience .container .experience_text_title {
  font-size: 50px;
  text-align: start;
  color: #FFFFFF;
  margin-bottom: 15px;
}
@media screen and (max-width: 360px) {
  .experience .container .experience_text {
    text-align: start;
    font-size: 32px;
  }
}
.experience .container .experience_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 15px 0;
}
.experience .container .experience_card .experience_card_wrapper {
  border: 1px solid black;
  color: #FFFFFF;
}
.experience .container .experience_card .experience_card_wrapper_item {
  font-size: 115px;
  font-weight: 126;
  color: #FFFFFF;
}
.experience .container .experience_card .experience_card_wrapper_item_col1 {
  color: #FE6A5C;
}
.experience .container .experience_card .experience_card_wrapper_item_col2 {
  color: #FF9900;
}
.experience .container .experience_card .experience_card_wrapper_item_col3 {
  color: #E95D90;
}
.experience .container .experience_card .experience_card_wrapper .experience_card_wrapper_desc {
  font-size: 16px;
}
@media screen and (max-width: 360px) {
  .experience .container .experience_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 360px) {
  .experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
  }
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .container .about_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .container .about_text_title {
  font-size: 50px;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .about .container .about_text_title {
    display: none;
  }
}
.about .container .about_text_title_resp {
  display: none;
}
@media screen and (max-width: 360px) {
  .about .container .about_text_title_resp {
    display: block;
    text-align: center;
    font-size: 32px;
    padding: 10px 0;
  }
}
.about .container .about_text_desc {
  color: #5B6876;
  margin-top: 27px;
  text-align: justify;
  padding: 10px 20px;
}
@media screen and (max-width: 360px) {
  .about .container .about_text_desc {
    display: none;
  }
}
.about .container .about_text_desc_resp {
  display: none;
}
@media screen and (max-width: 360px) {
  .about .container .about_text_desc_resp {
    display: block;
    color: #8491A0;
  }
}
.about .container .about_text_link {
  color: #5B6876;
  border-bottom: 2px solid #5B6876;
  padding: 0;
  width: 150px;
  margin-top: 52px;
}
@media screen and (max-width: 360px) {
  .about .container .about_text_link {
    color: #000000;
  }
}
@media screen and (max-width: 360px) {
  .about .container .about_text {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 360px) {
  .about .container .about_img {
    display: none;
  }
}
.about .container .about_img_resp {
  display: none;
}
@media screen and (max-width: 360px) {
  .about .container .about_img_resp {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .about .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.skillets {
  background-color: #000000;
  color: #FFFFFF;
  padding: 50px 0;
}
.skillets .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.skillets .container .skillets_text h2 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .skillets .container .skillets_text h2 {
    font-size: 32px;
  }
}
.skillets .container .skillets_text .skillets_text_desc {
  font-size: 18px;
  color: #8491A0;
}
@media screen and (max-width: 360px) {
  .skillets .container .skillets_text {
    padding: 20px 0;
  }
}
.skillets .container .skillets_card_midle_one {
  width: 416px;
  height: 169px;
  margin-bottom: 40px;
}
.skillets .container .skillets_card_midle_one img {
  margin-bottom: 23px;
}
.skillets .container .skillets_card_midle_one_title {
  font-size: 24px;
}
.skillets .container .skillets_card_midle_one_desc {
  font-size: 16px;
  color: #8491A0;
}
@media screen and (max-width: 360px) {
  .skillets .container .skillets_card_midle_one_desc {
    text-align: start;
    width: 300px;
  }
}
.skillets .container .skillets_card_midle_two {
  width: 416px;
  height: 169px;
}
.skillets .container .skillets_card_midle_two img {
  margin-bottom: 23px;
}
.skillets .container .skillets_card_midle_two_title {
  font-size: 24px;
}
.skillets .container .skillets_card_midle_two_desc {
  font-size: 16px;
  color: #8491A0;
}
@media screen and (max-width: 360px) {
  .skillets .container .skillets_card_midle_two_desc {
    text-align: start;
    width: 300px;
  }
}
@media screen and (max-width: 360px) {
  .skillets .container .skillets_card_midle {
    padding: 20px 0;
  }
}
.skillets .container .skillets_card_end_one {
  width: 416px;
  height: 169px;
  margin-bottom: 40px;
}
.skillets .container .skillets_card_end_one img {
  margin-bottom: 23px;
}
.skillets .container .skillets_card_end_one_title {
  font-size: 24px;
}
.skillets .container .skillets_card_end_one_desc {
  font-size: 16px;
  color: #8491A0;
}
@media screen and (max-width: 360px) {
  .skillets .container .skillets_card_end_one_desc {
    text-align: start;
    width: 300px;
  }
}
.skillets .container .skillets_card_end_two {
  width: 416px;
  height: 169px;
  margin-bottom: 40px;
}
.skillets .container .skillets_card_end_two img {
  margin-bottom: 23px;
}
.skillets .container .skillets_card_end_two_title {
  font-size: 24px;
}
.skillets .container .skillets_card_end_two_desc {
  font-size: 16px;
  color: #8491A0;
}
@media screen and (max-width: 360px) {
  .skillets .container .skillets_card_end_two_desc {
    text-align: start;
    width: 300px;
  }
}
@media screen and (max-width: 360px) {
  .skillets .container .skillets_card_end {
    padding: 20px 0;
  }
}
@media screen and (max-width: 360px) {
  .skillets .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
  }
}

.slider {
  background-color: #000000;
  padding: 30px;
  cursor: pointer;
}
.slider .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.slider .container .slider_img {
  border: 1px solid #8491A0;
  padding: 30px 0;
}
.slider .container .slider_img img {
  margin-left: 120px;
}
@media screen and (max-width: 360px) {
  .slider .container .slider_img img {
    margin-left: 20px;
  }
}
@media screen and (max-width: 360px) {
  .slider .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 360px) {
  .slider {
    margin-left: none;
  }
}

.myproject {
  background-color: #000000;
  padding: 40px 40px;
}
.myproject .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.myproject .container .myproject_left_side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myproject .container .myproject_left_side h4 {
  font-size: 16px;
  color: #8491A0;
  padding: 10px 0 40px 0;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side h4 {
    padding: 10px 0;
  }
}
.myproject .container .myproject_left_side h2 {
  font-size: 45px;
  color: #FFFFFF;
  padding: 30px 0;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side h2 {
    display: none;
  }
}
.myproject .container .myproject_left_side .myproject_title_resp {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .myproject_title_resp {
    display: block;
    font-size: 32px;
    text-align: start;
  }
}
.myproject .container .myproject_left_side .img_one {
  background-color: #181823;
  padding-bottom: 20px;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_one .myproject_img {
    display: none;
  }
}
.myproject .container .myproject_left_side .img_one .myproject_img_resp1 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_one .myproject_img_resp1 {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_one .myproject_title {
    display: none;
  }
}
.myproject .container .myproject_left_side .img_one .myproject_title_resp1 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_one .myproject_title_resp1 {
    display: block;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px;
  }
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_one .myproject_desc {
    display: none;
  }
}
.myproject .container .myproject_left_side .img_one .myproject_desc_resp1 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_one .myproject_desc_resp1 {
    display: block;
    color: #8491A0;
    padding: 10px;
  }
}
.myproject .container .myproject_left_side .img_two {
  background-color: #181823;
  padding-bottom: 20px;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_two .myproject_img {
    display: none;
  }
}
.myproject .container .myproject_left_side .img_two .myproject_img_resp2 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_two .myproject_img_resp2 {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_two .myproject_title {
    display: none;
  }
}
.myproject .container .myproject_left_side .img_two .myproject_title_resp2 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_two .myproject_title_resp2 {
    display: block;
    font-size: 32px;
    padding: 10px;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_two .myproject_desc {
    display: none;
  }
}
.myproject .container .myproject_left_side .img_two .myproject_desc_resp2 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_left_side .img_two .myproject_desc_resp2 {
    display: block;
    font-size: 16px;
    color: #8491A0;
    padding: 10px;
  }
}
.myproject .container .myproject_right_side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myproject .container .myproject_right_side .img_one {
  background-color: #181823;
  padding-bottom: 20px;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_one .myproject_img {
    display: none;
  }
}
.myproject .container .myproject_right_side .img_one .myproject_img_resp3 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_one .myproject_img_resp3 {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_one .myproject_title {
    display: none;
  }
}
.myproject .container .myproject_right_side .img_one .myproject_title_resp3 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_one .myproject_title_resp3 {
    display: block;
    font-size: 32px;
    color: #FFFFFF;
    padding: 10px;
  }
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_one .myproject_desc {
    display: none;
  }
}
.myproject .container .myproject_right_side .img_one .myproject_desc_resp3 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_one .myproject_desc_resp3 {
    display: block;
    font-size: 16px;
    color: #8491A0;
    padding: 10px;
  }
}
.myproject .container .myproject_right_side .img_two {
  background-color: #181823;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_two .myproject_img {
    display: none;
  }
}
.myproject .container .myproject_right_side .img_two .myproject_img_resp4 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_two .myproject_img_resp4 {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_two .myproject_title {
    display: none;
  }
}
.myproject .container .myproject_right_side .img_two .myproject_title_resp4 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_two .myproject_title_resp4 {
    display: block;
    font-size: 32px;
    padding: 10px;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_two .myproject_desc {
    display: none;
  }
}
.myproject .container .myproject_right_side .img_two .myproject_desc_resp4 {
  display: none;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side .img_two .myproject_desc_resp4 {
    display: block;
    font-size: 16px;
    padding: 10px;
    color: #8491A0;
  }
}
.myproject .container .myproject_right_side button {
  margin: 0px auto;
  padding: 20px 40px;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #3CC74E;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  .myproject .container .myproject_right_side button {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .myproject .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.instagram .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.instagram .container .instagram_text {
  height: 600px;
  text-align: start;
  padding: 10px 145px 10px 50px;
}
.instagram .container .instagram_text h2 {
  font-size: 65px;
  font-weight: bold;
  margin-top: 80px;
  padding: 50px 0;
}
.instagram .container .instagram_text .instagram_desc {
  font-size: 16px;
  color: #8491A0;
  margin-bottom: 80px;
  padding: 50px 0;
}
@media screen and (max-width: 360px) {
  .instagram .container .instagram_text .instagram_desc {
    display: none;
  }
}
.instagram .container .instagram_text .instagram_desc_resp {
  display: none;
}
@media screen and (max-width: 360px) {
  .instagram .container .instagram_text .instagram_desc_resp {
    display: block;
    font-size: 16px;
    color: #8491A0;
    padding: 20px;
    margin-bottom: 70px;
  }
}
.instagram .container .instagram_text .instagram_link {
  color: #000000;
  border-bottom: 1px solid #000000;
  padding: 10px 0;
}
@media screen and (max-width: 360px) {
  .instagram .container .instagram_text .instagram_link {
    padding: 20px;
  }
}
@media screen and (max-width: 360px) {
  .instagram .container .instagram_text {
    padding: 10px 40px;
  }
}
@media screen and (max-width: 360px) {
  .instagram .container .instagram_img {
    display: none;
  }
}
.instagram .container .instagram_img_resp {
  display: none;
}
@media screen and (max-width: 360px) {
  .instagram .container .instagram_img_resp {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .instagram .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.dribble {
  padding: 40px 0;
  background-color: #000000;
}
.dribble .container {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  gap: 40px;
}
.dribble .container h2 {
  font-size: 50px;
  color: #FFFFFF;
}
.dribble .container p {
  font-size: 18px;
  color: #8491A0;
}
.dribble .container a {
  text-align: start;
  width: 200px;
  padding: 5px 0;
  border-bottom: 1px solid #FFFFFF;
}
.dribble .container img {
  width: 100%;
}

.testimonial {
  background-color: #000000;
  color: #FFFFFF;
  padding: 50px 0;
}
.testimonial .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.testimonial .container .testimonial_left_side {
  width: 50%;
}
.testimonial .container .testimonial_left_side h2 {
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0;
}
@media screen and (max-width: 360px) {
  .testimonial .container .testimonial_left_side h2 {
    font-size: 32px;
  }
}
.testimonial .container .testimonial_left_side p {
  font-size: 18px;
  color: #8491A0;
  padding: 20px 0 40px 0;
}
.testimonial .container .testimonial_left_side_link {
  font-size: 16px;
  color: #FFFFFF;
  border-bottom: 1px solid #5B6876;
}
@media screen and (max-width: 360px) {
  .testimonial .container .testimonial_left_side {
    padding: 10px;
    text-align: start;
    width: 100%;
  }
}
.testimonial .container .testimonial_right_side {
  padding: 0 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.testimonial .container .testimonial_right_side .testimonial_right_side_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #8491A0;
}
.testimonial .container .testimonial_right_side .testimonial_right_side_card .testimonial_desc_big {
  align-items: center;
  text-align: start;
  padding: 30px 50px;
}
.testimonial .container .testimonial_right_side .testimonial_right_side_card h5 {
  font-size: 18px;
  font-weight: bold;
  color: #8491A0;
  padding: 0 50px;
}
.testimonial .container .testimonial_right_side .testimonial_right_side_card .testimonial_desc_small {
  padding: 0 0 64px 50px;
  font-size: 16px;
  color: #8491A0;
}
@media screen and (max-width: 360px) {
  .testimonial .container .testimonial_right_side {
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 360px) {
  .testimonial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: none;
  }
}
@media screen and (max-width: 360px) {
  .testimonial {
    padding: 10px;
  }
}

.photography {
  background-color: #000000;
  color: #FFFFFF;
}
.photography .container .photography_text .photography_title {
  font-size: 50px;
  color: #FFFFFF;
  padding: 40px 0;
}
.photography .container .photography_text .photography_desc {
  font-size: 16px;
  color: #8491A0;
  padding: 10px 0 40px 0;
}
.photography .container .photography_text .photography_links {
  padding: 30px 0;
}
.photography .container .photography_text .photography_links .photography_link1 {
  background-color: #3CC74E;
  text-align: center;
  padding: 12px;
}
@media screen and (max-width: 360px) {
  .photography .container .photography_text .photography_links .photography_link1 {
    background-color: #5221E6;
  }
  .photography .container .photography_text .photography_links .photography_link1:hover {
    background-color: #5221E6;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
  }
}
.photography .container .photography_text .photography_links .photography_link {
  padding: 12px;
  color: #FFFFFF;
  border: 1px solid #3CC74E;
}
.photography .container .photography_text .photography_links .photography_link:hover {
  background-color: #3CC74E;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 360px) {
  .photography .container .photography_text .photography_links .photography_link {
    border: 1px solid #5221E6;
  }
  .photography .container .photography_text .photography_links .photography_link:hover {
    background-color: #5221E6;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
  }
}
@media screen and (max-width: 360px) {
  .photography .container .photography_text .photography_links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
  }
}
.photography .container .photography_images {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 40px 0;
}
.photography .container .photography_images img {
  width: 305px;
  height: 350px;
}
@media screen and (max-width: 360px) {
  .photography .container .photography_images .img_2 {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .photography .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}

.business {
  background-color: #000000;
  color: #FFFFFF;
}
.business .container {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}
.business .container .business_text .business_title {
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0;
}
.business .container .business_text .business_desc {
  font-size: 16px;
  color: #8491A0;
}
.business .container .business_data {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 10px;
}
.business .container .business_data h6 {
  font-size: 16px;
  padding: 10px 0;
}
.business .container .business_data input {
  width: 526px;
  height: 50px;
  background-color: #181823;
  border: none;
  color: #FFFFFF;
  padding: 0 20px;
  outline: none;
}
@media screen and (max-width: 360px) {
  .business .container .business_data input {
    width: 330px;
  }
}
.business .container .business_data .data_three h6 {
  font-size: 16px;
  padding: 10px 0;
}
.business .container .business_data .data_three input {
  width: 526px;
  height: 100px;
  background-color: #181823;
  border: none;
}
@media screen and (max-width: 360px) {
  .business .container .business_data .data_three input {
    width: 330px;
  }
}
.business .container .business_data .business_btn {
  width: 526px;
  height: 75px;
  border-radius: none;
  border: none;
  background-color: #3CC74E;
  color: #FFFFFF;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  .business .container .business_data .business_btn {
    width: 330px;
    height: 55px;
  }
}
@media screen and (max-width: 360px) {
  .business .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
}

footer {
  background-color: #181823;
  color: #FFFFFF;
  padding: 40px 60px;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .footer_logo {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  footer .container .footer_logo {
    padding: 20px;
  }
}
footer .container .footer_logo_resp {
  display: none;
}
@media screen and (max-width: 360px) {
  footer .container .footer_logo_resp {
    display: block;
  }
}
footer .container .footer_menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-size: 18px;
}
footer .container .footer_menu_one {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container .footer_menu_two {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px;
}
@media screen and (max-width: 360px) {
  footer .container .footer_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
  }
}
@media screen and (max-width: 360px) {
  footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
  }
}

.copyright {
  background-color: #181823;
  color: #8491A0;
  padding: 30px;
}
@media screen and (max-width: 360px) {
  .copyright {
    text-align: center;
    padding: 20px;
  }
}/*# sourceMappingURL=main.css.map */